.bae{
    text-align: center;
    color: rgb(181, 144, 216);
    font-family: fantasy;
    font-style: italic   
 }
 .first{
     font-size: 15px;
     font-family: arial;
     font-style: italic
 }